    html,body {
      margin: 0;
      height: 100vh;
      background: linear-gradient(135deg, #1f1c2c, #928dab);
      justify-content: center;
      align-items: center;
      font-family: 'Segoe UI', sans-serif;
      color: #fff;
    
    }

    .quote-box {
      text-align: center;
      padding: 40px;
      background: rgba(255,255,255,0.05);
      border-radius: 20px;
      box-shadow: 0 0 20px rgba(0,0,0,0.3);
      animation: pulse 4s infinite;
      margin: 20px;
      position: relative;
      top:40px;
      
    }
    #msg{
      position:relative;
      border-radius: 20px;
      margin: 20px;
      padding:40px;
      background-color: #FFFFFF;
      color: #000;
      top:60%;
    }

    h1 {
      font-size: 2.8em;
      margin-bottom: 20px;
      background: linear-gradient(45deg, #f9d423, #ff4e50);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: 1.2em;
      opacity: 0.9;
    }

    @keyframes pulse {
      0%, 100% { transform: scale(1); box-shadow: 0 0 20px rgba(255,255,255,0.2); }
      50% { transform: scale(1.03); box-shadow: 0 0 40px rgba(255,255,255,0.4); }
    }
    @keyframes rise{
      0%{
        transform: translateY(0);
      }
      100%{
        transform: translateY(-800px);
      }
    }
    #fot{
      position:relative;
      top:60%;
      margin:0;
    }
